/* scroll bar styling  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* scroll bar styling  */

/* Discovery Page */

.discovery-kits-feed{
    height: 81vh;
    overflow: scroll;
}

.height {
    height: 96vh;
}

.kit-name-container{
    background: lightcyan;
    height: 10vh;
    margin: 1.5vw;
}

.kit-detail {
    display: flex;
    flex-direction: row;
}

.kit-waveform-container{
    height: 50vh;
    margin: 1.5vw;
    background: white;
}

.kit-detail-container{
    height: 25vh;
    width: 40vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    margin-bottom: 2vw;
    background: lightyellow;
}

.kit-detail-header {
    background: rgb(253, 253, 184);
}

.kit-detail-text-container {
    margin-left: 1em;
    height: 25vh;
    width: 40vw;
}

.kit-detail-image-container {
    margin-right: 0em;
    background: whitesmoke;
    height: 25vh;
    width: 22vw;
    text-align: center;
}

.kit-detail-image-container img {
    height: 25vh;
}


/* Kit Sidebar */

.regions-specs{
    background: #ffffff;
    height: 44vh;
    margin: 1vw
}

.specs-header {
    background: rgb(223, 223, 223);
    height: 3em;
}

.notes-specs{
    background: #ffffff;
    height: 44vh;
    margin: 1vw;
}

.card-image img {
    object-fit: contain;
}





/* Playback Controls Layout */
.playback-controls {
    display: flex;
    flex-direction: row;
    background: rgb(226, 226, 226);
    height: 4.5em;
}

.playback-controls i {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

.playback-controls i:hover {
    background: rgb(235, 235, 235)
}

.playback-controls-secondary {
    background: #bdbdbd;
    height: 5vh;
}

/* Playback Control Icons */
.material-icons.false { color: rgb(121, 121, 121); }
.material-icons.play.true { color: rgb(0, 168, 14); }
.material-icons.pause.true { color: rgb(81, 214, 255); }
.material-icons.stop.true { color: rgb(211, 0, 0); }
.material-icons.rr.true { color: rgb(255, 208, 0); }
.material-icons.ff.true { color: rgb(255, 208, 0); }
.material-icons.speed.true { color: rgb(125, 96, 255); }
.material-icons.mute.true { color: rgb(0, 140, 255); }

.medium.material-icons { font-size: 3em;}


/* //////////////// */
/* Region Controls */

.region-controls {
    display: flex;
    flex-direction: row;
    background: rgb(240, 240, 240);
    margin-top: 0em;
    height: 13vh;
}

.region-controls i {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
}

.region-control-trigger:hover{
    background: rgb(150, 166, 190)
}

.region-control-trigger {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7em;
}

/* Below Regions Control */
.color-block{
    background: rgb(160, 160, 182);
    height: 8vh;
}


