/* scroll bar styling  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}


::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* scroll bar styling  */

.height {
    height: 100vh;
}

.kit-name-container{
    background: lightcyan;
    height: 20vh;
    margin: 1.5vw;
}

.kit-waveform-container{
    height: 40vh;
    margin: 1.5vw;
    background: white;
}

.kit-detail-container{
    height: 25vh;
    margin: 1.5vw;
    background: lightyellow;
}


/* Kit Sidebar */

.regions-specs{
    background: #ffffff;
    height: 44.5vh;
    margin: 1.5vw;
}

.notes-specs{
    background: #ffffff;
    height: 44.5vh;
    margin: 1.5vw;
}

.card-image img {
    object-fit: contain;
}


