html{cursor: pointer;}
/* scroll bar styling  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #C4CACF;
}


::-webkit-scrollbar-thumb {
    background: #666D72;
}


::-webkit-scrollbar-thumb:hover {
    background: #6C828D;
}
/* scroll bar styling  */

.nav-bar{
    background: lightgray;
    display: flex;
    flex-direction: row;
}

.nav-bar i {
    margin-top: 0.2em;
    font-size: 1.7em;
}

.switch{
    margin-top: 0.4em;
    margin-left: 2em;
    margin-right: 1em;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(54, 54, 54);
}

.sunny {
    color: lightgoldenrodyellow;
}
.night {
    color: plum;
}

/* Landing Page */
.demo-instructions {
    background-color: white;
    padding: 1em;
    margin-top: 3em;
    border-radius: 6px;
}

.landing-logo {
    margin-top: 1em;
}

.landing-button {
    margin-top: 1em;
}

.landing-input-container {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.landing-guide {
    color: white;
}

.guide-container {
    margin-top: 4em;
}
/* Landing Page */



/* Discovery Page */
.discovery-kits-feed{
    height: 100vh;
    overflow-y: auto;
}

.card-title{
    font-size: 0.8em;
}

.graphic-container{
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 3px solid white;
}
.graphic-text{
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'VT323', monospace;
    text-align: left;
    text-shadow: 1px 1px rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 3.5em;
}
.graphic-sub-text{
    text-align: left;
    margin-left: 3em;
    font-size: 0.8em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #ffffff36;
    border-radius: 2px;
}
.graphic-sub-text ul{
    margin-left: 1em;
}
.graphic-dot{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.graphic-par{
    color: orange;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.active-kits{
    text-align: center;
    margin-top: 1em;
    height: 50%;
}
.random-kit-header{
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1.5em;
}
.active-kits img{
    background-color: #ffffff36;
    padding: 1em;
    border-radius: 4px;
    border: 2px solid rgba(253, 253, 253, 0.842);
    max-height: 85%;
    max-width: 85%;
    margin-top: 2em;
    margin-bottom: 3em;;
}

.height {
    height: 98vh;
}

.kit-main-container {
    height: 98vh;
}

.kit-name-container{
    background: rgb(181, 190, 202);
    height: 3em;
    width: 38%;
    margin-top: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
}

.kit-detail {
    display: flex;
    flex-direction: row;
    min-height: 20%;
}

.kit-waveform-container{
    height: 26.5em;
    margin: 1em;
    background: white;
}

.kit-detail-container{
    max-height: 10%;
    width: 50%;
    margin: 1em;
}

.kit-detail-text-container {
    height: 100%;
}

.kit-detail-image-container {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -3.5em;
    background: whitesmoke;
    height: 10%;
    width: 60%;
    text-align: center;
    background: rgb(226, 226, 226);
}


.kit-detail-image-container img {
    margin: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 13em;
}

.card.small {
    height: 25em;
}

.graphic-container {
    font-family: 'Source Code Pro', monospace;
}
/* Discovery Page */



/* Kit Sidebar */
.regions-specs{
    background: #ffffff;
    height: 35vh;
    margin: 1vw;
    margin-top: 1.5em;
    overflow: auto;
}

.specs-header {
    background: rgb(223, 223, 223);
    height: 3em;
    display: flex;  
    flex-direction: row;
    justify-content: left;
    position: absolute;
    width: 30%;
}

.specs-button {
    margin: .4em;
}
.spec-content {
    margin-top: 4em;
}
.cue-content {
    padding-top: 3.4em;
}

.notes-specs{
    height: 43vh;
    margin: 1vw;
    overflow: auto;
}

.card-image img {
    object-fit: contain;
}

.notecard { 
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.notecard-name{
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.cueremove {  
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;
}
.cueremove:hover {
    background-color: rgb(223, 223, 223, 0.5);
    border-radius: 10px;
}
.cueremove:active {
    color: white;
}
/* Kit Sidebar */


/* GuideModal */
.guide-modal-cont-1{
    display: flex;
    justify-content: space-around;
}
.region-guide{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.playback-guide{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.guide-ins{
    font-weight: bolder;
    margin-left: 0.5em;
}
.guide-keys{
    margin-left: 2em;
    float: right;
}
/* GuideModal */


/* Playback Controls Layout */
.playback-controls {
    display: flex;
    flex-direction: row;
    background: rgb(226, 226, 226);
    height: 4.5em;
}

.playback-controls i {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

.playback-controls i:hover {
    background: rgba(255, 255, 255, 0.2)
}

.playback-controls-secondary {
    background: #bdbdbd;
    height: 0.5em;
}

.knob-div {
    margin-left: 1.4em;
    margin-top: 0.4em;
}

/* Playback Control Icons */
.material-icons.false { color: rgb(121, 121, 121); }
.material-icons.play.true { color: rgb(0, 168, 14); }
.material-icons.pause.true { color: rgb(81, 214, 255); }
.material-icons.stop.true { color: rgb(211, 0, 0); }
.material-icons.rr.true { color: rgb(255, 208, 0); }
.material-icons.ff.true { color: rgb(255, 208, 0); }
.material-icons.speed.true { color: rgb(125, 96, 255); }
.material-icons.mute.true { color: rgb(0, 140, 255); }

.medium.material-icons { font-size: 3em;}
/* Playback Controls Layout */



/* //////////////// */
/* Region Controls */
.region-controls {
    display: flex;
    flex-direction: row;
    background: rgb(240, 240, 240);
    margin-top: 0em;
    min-height: 6em;

}

.region-controls i {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
}

.region-control-trigger:hover{
    background: rgb(150, 166, 190)
}

.region-control-trigger {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7em;
}

.region-control-presets {
    background: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7em;
    max-width: 8.5em;
    min-width: 8em;
}

.region-control-presets:hover{
    background: rgb(176, 199, 233)
}

.region-control-small-save {
    margin-top: 0.5em;
    margin-right: 0.3em;
    margin-left: 1em;
}
.region-control-small-save-btn {
    text-align: center;
    color: white;
    font-size: 0.7em;
    width: 6em;
    padding: 0.3em;
    border-radius: 4px;
}

.region-control-small-save-btn:hover {
    background-color: rgb(255, 255, 255);
}

.region-status-bar {
    display: flex;
    flex-direction: row;
    min-height: 2.6em;
    background: rgb(207, 223, 255);
}

.region-status-space {
    max-width: 8em;
    min-width: 6em;
}

.material-icons.false { color: rgb(121, 121, 121); }

.material-icons.region1.true { color: rgb(255, 176, 176); }
.material-icons.region2.true { color: rgb(187, 255, 198); }
.material-icons.region3.true { color: rgb(191, 253, 255); }
.material-icons.region4.true { color: rgb(247, 161, 255); }
.material-icons.region5.true { color: rgb(46, 99, 255); }
.material-icons.regionMemory.true { color: rgb(255, 175, 14); }
.material-icons.regionNote.true { color: rgb(165, 255, 21); }
.material-icons.notesMode.true { color: rgb(165, 255, 21); }

/* Below Regions Control */
.color-block{
    min-height: 5em;
    justify-content: space-around;
}

.color-block .input {
    max-height: 100%;
    overflow: scroll;
    text-overflow: ellipsis;
}
/* Region Controls */



/* Dig Note Form */
#dig-note-submit-btn {
    margin-top: 2.3em;
    margin-left: 1.5em;
}


/* User */
.new-crate-form {
    margin: 1em;
    height: 45%;
}